*.idea
*/node_modules
API/.phpunit.cache
API/node_modules
API/public/build
API/public/hot
API/public/storage
API/storage/*.key
API/vendor
*/.env
*/.env.backup
*/.env.production
API/.phpunit.result.cache
API/Homestead.json
API/Homestead.yaml
API/auth.json
API/npm-debug.log
API/yarn-error.log
API/.fleet
API/.idea
API/.vscode
